
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    background-color: #fff;
    color: #333;
    font: 62.5%/1 AvenirNextRegular,Helvetica,Arial sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}
h1 {
    color: #333;
    font-size: 36px;
    margin: 0;
    padding: 0;
}
h2 {
    color: #333;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
h3 {
    color: #333;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
h4 {
    color: #333;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
h5 {
    color: #333;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h6 {
    color: #333;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
p {
    color: #666;
    line-height: 22px;
    margin: 0;
    padding: 0;
}
p:last-of-type {
    padding: 0;
}
strong {
    color: #333;
    font-weight: bold;
}
em {
    color: #666;
    font-style: italic;
}
small {
    font-size: 80%;
}
sup, sub {
    font-size: 80%;
    height: 0;
    line-height: 5px;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 5px;
}
sub {
    top: 5px;
}
code, pre {
    color: #333;
    font-size: 11px;
    padding: 0 3px 2px;
}
code {
    background-color: #000;
    border: 1px solid #000;
    color: #f1f1f1;
    padding: 0 4px 2px;
}
ul, ol {
    list-style: outside none none;
    margin-bottom: 0;
}
ul {
    list-style: outside none none;
}
ul li {
    line-height: 18px;
    margin: 0 0 5px;
    padding: 0 0 0 18px;
}
ol {
    list-style: outside none decimal;
    margin: 0 0 20px 20px;
}
ol li {
    line-height: 18px;
    margin: 0 0 5px;
    padding: 0;
}
ul ul, ul ol {
    margin: 5px 0;
}
ol ol, ol ul {
    margin: 5px 0 5px 20px;
}
ul ul li, ul ol li, ol ol li, ol ul li {
    margin: 0 0 6px;
}
ul.square, ul.square ul {
    list-style: outside none square;
}
ul.circle, ul.circle ul {
    list-style: outside none circle;
}
ul.disc, ul.disc ul {
    list-style: outside none disc;
}
ul.square li, ul.circle li, ul.disc li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    line-height: 18px;
    margin: 0 0 5px 15px;
    padding: 0;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
blockquote, blockquote p {
    color: #aaa;
    font-size: 18px;
    line-height: 22px;
}
blockquote {
    margin: 0;
    padding: 0;
}
blockquote cite {
    color: #555;
    display: block;
    font-size: 12px;
}
blockquote cite::before {
    content: "— ";
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
    color: #555;
}
blockquote span {
    display: inline-block;
    width: 15px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 2px;
    margin: 20px 0;
    text-align: left;
    width: 100%;
}
a:link {
    color: #666;
    outline: 0 none;
    text-decoration: none;
    transition: color 0.1s ease 0s, opacity 0.1s ease 0s;
}
a:visited {
    color: #666;
    outline: 0 none;
    text-decoration: none;
}
a:active {
    color: #666;
    outline: 0 none;
    text-decoration: none;
}
a:hover {
    color: #333;
    outline: 0 none;
    text-decoration: none;
}
a:focus {
}
img {
    border: 0 none;
    display: block;
}
.zoom {
    display: block;
    height: auto;
    width: 100%;
}
.media {
    border: 1px solid #ccc;
    height: 0;
    margin: 0 0 15px;
    overflow: hidden;
    padding-bottom: 51%;
    padding-top: 30px;
    position: relative;
}
.media iframe, .media object, .media embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
a.button, .button {
    background: #444 none repeat scroll 0 0;
    border-bottom: 1px solid #000;
    border-radius: 2px;
    color: #ddd;
    cursor: pointer;
    display: inline-block;
    font-family: BrandonGrotesqueRegularRg,Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding: 20px;
    transition: all 0.1s linear 0s;
}
a.button::after, .button::after {
    line-height: 40%;
    vertical-align: bottom;
}
a.button:hover {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
#stylized-form {
    background-color: #f4f4f4;
    margin: 10px 0 20px;
    padding: 20px;
}
.wrapper-block label {
    display: block;
    float: left;
    font-weight: bold;
    padding: 0;
    text-align: right;
    width: 140px;
}
.wrapper-block [type="text"] {
    border: 1px solid #bbbbbb;
    font-size: 12px;
    margin: 2px 0 15px 10px;
    padding: 4px 2px;
    width: 200px;
}
.wrapper-block select {
    border: 1px solid #bbbbbb;
    font-size: 12px;
    margin: 2px 0 15px 10px;
    padding: 2px;
}
.wrapper-block [type="radio"] {
    line-height: 16px;
    margin: 0 2px 15px 10px;
}
.wrapper-block [type="checkbox"] {
    line-height: 16px;
    margin: 0 2px 15px 10px;
}
.wrapper-block textarea {
    border: 1px solid #bbbbbb;
    font: 12px Helvetica,Arial sans-serif;
    margin: 2px 0 15px 10px;
    padding: 4px 2px;
    width: 200px;
}
.wrapper-inline label {
    display: block;
    float: left;
    font-weight: bold;
    padding: 0;
    text-align: right;
    width: 140px;
}
.wrapper-inline [type="text"] {
    border: 1px solid #bbbbbb;
    float: left;
    font-size: 12px;
    margin: 2px 0 15px 10px;
    padding: 4px 2px;
    width: 200px;
}
.wrapper-inline select {
    border: 1px solid #bbbbbb;
    float: left;
    font-size: 12px;
    margin: 2px 0 15px 10px;
    padding: 4px 2px;
}
.wrapper-inline [type="radio"] {
    float: left;
    line-height: 16px;
    margin: 0 2px 15px 10px;
}
.wrapper-inline [type="checkbox"] {
    float: left;
    line-height: 16px;
    margin: 0 2px 15px 10px;
}
.wrapper-inline textarea {
    border: 1px solid #bbbbbb;
    float: left;
    font: 12px Helvetica,Arial,sans-serif;
    margin: 2px 0 15px 10px;
    padding: 4px 2px;
    width: 140px;
}
a.btn-form, input.btn-form {
    background: #333 url("../images/btn-arrow.png") no-repeat scroll right center;
    border: 1px solid #444;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    margin: 5px 0 5px 150px;
    padding: 4px 28px 4px 8px;
}
.small-label {
    color: #666;
    display: block;
    font-size: 10px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 20px;
    width: 100%;
}
table th {
    background-color: #e2e2e2;
    border: 1px solid #999;
    color: #333;
    font-weight: bold;
    padding: 10px 8px;
}
table td {
    background-color: #e2e2e2;
    border: 1px solid #999;
    color: #333;
    padding: 10px 8px;
}
table tr.even td {
    background-color: #fff;
}
table tr.odd td {
    background-color: #f3f3f3;
}
table td.highlight {
    color: #fff;
    font-weight: bold;
}
table tr td.highlight {
    background-color: #333;
}
.img-left {
    border: medium none;
    float: left;
    margin: 0 30px 30px 0;
}
.img-right {
    border: medium none;
    float: right;
    margin: 0 0 30px 30px;
}
.clear {
    clear: both;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.text-big {
    color: #a2bd30;
    font-weight: bold;
    line-height: 26px;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
.normal {
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
    border-bottom: 1px solid;
}
.highlight {
    background: #00deff none repeat scroll 0 0;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    padding: 0 3px 2px;
}
.intro {
    font-size: 130%;
    line-height: 130%;
}
.nopadding {
    padding: 0;
}
.noindent {
    margin-left: 0;
    padding-left: 0;
}
.nobullet {
    list-style: outside none none;
}
.block {
    display: block;
}
.hidden {
    display: none;
}
.hide {
    display: none;
}

.row {
    margin: 0 auto;
    width: 960px;
}
.row .row {
    display: inline-block;
    margin: 0 -16px;
    vertical-align: top;
    width: auto;
}
.grid_1 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 48px;
}
.grid_2 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 128px;
}
.grid_3 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 208px;
}
.grid_4 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 288px;
}
.grid_5 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 368px;
}
.grid_6 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 448px;
}
.grid_7 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 528px;
}
.grid_8 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 608px;
}
.grid_9 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 688px;
}
.grid_10 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 768px;
}
.grid_11 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 848px;
}
.grid_12 {
    display: inline;
    float: left;
    margin: 0 16px;
    width: 928px;
}
.offset_1 {
    margin-left: 96px;
}
.offset_2 {
    margin-left: 176px;
}
.offset_3 {
    margin-left: 256px;
}
.offset_4 {
    margin-left: 336px;
}
.offset_5 {
    margin-left: 416px;
}
.offset_6 {
    margin-left: 496px;
}
.offset_7 {
    margin-left: 576px;
}
.offset_8 {
    margin-left: 656px;
}
.offset_9 {
    margin-left: 736px;
}
.offset_10 {
    margin-left: 816px;
}
.offset_11 {
    margin-left: 896px;
}
.show-phone {
    display: none !important;
}
.show-mobile {
    display: none !important;
}
.show-tablet {
    display: none !important;
}
.show-screen {
    display: inherit !important;
}
.hide-phone {
    display: inherit !important;
}
.hide-mobile {
    display: inherit !important;
}
.hide-tablet {
    display: inherit !important;
}
.hide-screen {
    display: none !important;
}
@media only screen and (min-width: 1200px) {
.row {
    margin: 0 auto;
    width: 1200px;
}
.row .row {
    display: inline-block;
    margin: 0 -20px;
    width: auto;
}
.grid_1 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 60px;
}
.grid_2 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 160px;
}
.grid_3 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 260px;
}
.grid_4 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 360px;
}
.grid_5 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 460px;
}
.grid_6 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 560px;
}
.grid_7 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 660px;
}
.grid_8 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 760px;
}
.grid_9 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 860px;
}
.grid_10 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 960px;
}
.grid_11 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 1060px;
}
.grid_12 {
    display: inline;
    float: left;
    margin: 0 20px;
    width: 1160px;
}
.offset_1 {
    margin-left: 120px;
}
.offset_2 {
    margin-left: 220px;
}
.offset_3 {
    margin-left: 320px;
}
.offset_4 {
    margin-left: 420px;
}
.offset_5 {
    margin-left: 520px;
}
.offset_6 {
    margin-left: 620px;
}
.offset_7 {
    margin-left: 720px;
}
.offset_8 {
    margin-left: 820px;
}
.offset_9 {
    margin-left: 920px;
}
.offset_10 {
    margin-left: 1020px;
}
.offset_11 {
    margin-left: 1120px;
}
.show-phone {
    display: none !important;
}
.show-mobile {
    display: none !important;
}
.show-tablet {
    display: none !important;
}
.show-screen {
    display: inherit;
}
.hide-phone {
    display: inherit !important;
}
.hide-mobile {
    display: inherit !important;
}
.hide-tablet {
    display: inherit !important;
}
.hide-screen {
    display: none !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
.row {
    margin: 0 auto;
    width: 768px;
}
.row .row {
    display: inline-block;
    margin: 0 -14px;
    width: auto;
}
.grid_1 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 36px;
}
.grid_2 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 100px;
}
.grid_3 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 164px;
}
.grid_4 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 228px;
}
.grid_5 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 292px;
}
.grid_6 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 356px;
}
.grid_7 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 420px;
}
.grid_8 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 484px;
}
.grid_9 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 548px;
}
.grid_10 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 612px;
}
.grid_11 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 676px;
}
.grid_12 {
    display: inline;
    float: left;
    margin: 0 14px;
    width: 740px;
}
.offset_1 {
    margin-left: 78px;
}
.offset_2 {
    margin-left: 142px;
}
.offset_3 {
    margin-left: 206px;
}
.offset_4 {
    margin-left: 270px;
}
.offset_5 {
    margin-left: 334px;
}
.offset_6 {
    margin-left: 398px;
}
.offset_7 {
    margin-left: 462px;
}
.offset_8 {
    margin-left: 526px;
}
.offset_9 {
    margin-left: 590px;
}
.offset_10 {
    margin-left: 654px;
}
.offset_11 {
    margin-left: 718px;
}
.show-phone {
    display: none !important;
}
.show-mobile {
    display: inherit !important;
}
.show-tablet {
    display: inherit !important;
}
.show-screen {
    display: none !important;
}
.hide-phone {
    display: inherit !important;
}
.hide-mobile {
    display: none !important;
}
.hide-tablet {
    display: none !important;
}
.hide-screen {
    display: inherit !important;
}
}
@media only screen and (max-width: 767px) {
.row {
    margin: 0 auto;
    width: 300px;
}
.row .row {
    display: inline-block;
    margin: 0;
    width: auto;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    display: inline;
    float: left;
    margin: 0;
    width: 300px;
}
.offset_1, .offset_2, .offset_3, .offset_4, .offset_5, .offset_6, .offset_7, .offset_8, .offset_9, .offset_10, .offset_11 {
    margin-left: 0;
}
.show-phone {
    display: inherit !important;
}
.show-mobile {
    display: inherit !important;
}
.show-tablet {
    display: none !important;
}
.show-screen {
    display: none !important;
}
.hide-phone {
    display: none !important;
}
.hide-mobile {
    display: none !important;
}
.hide-tablet {
    display: inherit !important;
}
.hide-screen {
    display: inherit !important;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.row {
    margin: 0 auto;
    width: 456px;
}
.row .row {
    display: inline-block;
    margin: 0;
    width: auto;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    display: inline;
    float: left;
    margin: 0;
    width: 456px;
}
.show-phone {
    display: inherit !important;
}
.show-mobile {
    display: inherit !important;
}
.show-tablet {
    display: none !important;
}
.show-screen {
    display: none !important;
}
.hide-phone {
    display: none !important;
}
.hide-mobile {
    display: none !important;
}
.hide-tablet {
    display: inherit !important;
}
.hide-screen {
    display: inherit !important;
}
}
.container::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix::before, .clearfix::after, .row::before, .row::after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.row::after, .clearfix::after {
    clear: both;
}
.row, .clearfix {
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.home .brands h2 {
    color: #fff;
}
.home .brands p {
    color: #fff;
    font-family: BrandonGrotesqueLightRegular,Helvetica,Arial,sans-serif;
    font-size: 3.6em;
    line-height: 140%;
    padding: 0 0 30px;
}

.js #flash {
    display: none;
}
.faux {
    background: #dfdfdf none repeat scroll 0 0;
    display: block;
    margin: 0 0 20px;
    padding: 80px 0;
}
.border, .button.border {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: none;
    color: #fff;
}
.border:hover, .button.border:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 255, 1);
}
.icon {
    display: inline-block;
    font-size: 4em;
    overflow: hidden;
    transition: all 0.1s linear 0s;
}
.icon::after, .icon::before {
    display: inline-block;
    font-family: Entypo,EntypoSocial;
    line-height: 50%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.grid::after {
    content: "⚏";
    font-size: 2.5em;
    padding: 0 0 0 10px;
}
.house::after {
    content: "⌂";
    font-size: 2.5em;
    padding: 0 0 0 10px;
}
.pin::after {
    content: "";
}
.ribbon::after {
    content: "🔖";
}
.sun::after {
    content: "🔆";
}
.heart::after {
    content: "♡";
}
.image::after {
    content: "📷";
}
.permalink::after {
    content: "🔗";
}
.quote::after {
    content: "";
}
.standard::after {
    content: "✎";
}
.view::after {
    content: "➕";
    display: block;
}
.Behance::after {
    content: "";
    display: block;
}
.Dribbble::after {
    content: "";
    display: block;
}
.Facebook::after {
    content: "";
    display: block;
}
.Flickr::after {
    content: "";
    display: block;
}
.Instagram::after {
    content: "";
    display: block;
}
.Pinterest::after {
    content: "";
    display: block;
}
.Rdio::after {
    content: "";
    display: block;
}
.Twitter::after {
    content: "";
    display: block;
}
.Vimeo::after {
    content: "";
    display: block;
}
.main {
    background: #f7f7f7 none repeat scroll 0 0;
}
.main h1 {
    font-family: BrandonGrotesqueLightRegular,Helvetica,Arial,sans-serif;
    font-size: 3.8em;
    line-height: 140%;
    padding: 0 0 30px;
}
@media only screen and (max-width: 767px) {
.main h1 {
    font-size: 3em;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.main h1 {
    font-size: 3.5em;
}
}
.main h2 {
    font-family: BrandonGrotesqueLightRegular,Helvetica,Arial,sans-serif;
    font-size: 3.8em;
    line-height: 140%;
    padding: 0 0 30px;
}
@media only screen and (max-width: 767px) {
.main h2 {
    font-size: 3em;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.main h2 {
    font-size: 3.5em;
}
}
.main h3 {
    font-family: BrandonGrotesqueBoldRegular,Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 180%;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.main h4 {
    color: #999;
    font-family: BrandonGrotesqueBoldRegular,Helvetica,Arial,sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 0 0 10px;
    text-transform: uppercase;
}
.main p {
    font-size: 1.3em;
    line-height: 220%;
}
.main p + p {
    padding: 20px 0 0;
}
.main p + h2, .main p + h3, .main p + h4, .main p + h5 {
    padding: 40px 0 20px;
}
.main ul + h2, .main ul + h3, .main ul + h4, .main ul + h5 {
    padding: 40px 0 20px;
}
.main ol + h2, .main ol + h3, .main ol + h4, .main ol + h5 {
    padding: 40px 0 20px;
}
.main blockquote + h2, .main blockquote + h3, .main blockquote + h4, .main blockquote + h5 {
    padding: 40px 0 20px;
}
.main blockquote + p {
    padding: 40px 0 0;
}
.main ul + p, .main ol + p {
    padding: 20px 0 0;
}
.main p + ul, .main p + ol, .main p + blockquote {
    padding: 20px 0 0;
}
@media only screen and (max-width: 767px) {
.main .column {
    padding: 0 0 40px;
}
.main .column:nth-child(-n+2) {
    padding: 0 0 40px;
}
.main .row .row:first-child .column:nth-child(-n+1) {
    padding: 0 0 40px;
}
.main .row .row:last-child .column:nth-last-of-type(-n+1) {
    padding: 0;
}
.main .row .row:last-child .duo.column:nth-last-of-type(-n+2) {
    padding: 0;
}
}
.main .row {
    border-top: 1px solid #ddd;
    padding: 60px 0;
}
@media only screen and (max-width: 767px) {
.main .row {
    padding: 40px 0;
}
}
.main .background-color .row, .main .background-color + .content .row {
    border-top: medium none;
}
.main .background-image .row, .main .background-image + .content .row {
    border-top: medium none;
}
.background-wide {
    padding: 0 !important;
}
.main .background-wide + .content .row {
    border-top: medium none;
}
.main > div:nth-child(2n) {
}
.main div:first-child .row {
    border: medium none;
}
.main .row .row {
    border: medium none;
    padding: 0 0 40px;
}
.main .row .row:last-child {
    padding: 0 !important;
}
@media only screen and (max-width: 767px) {
.main .row .row {
    padding: 0;
}
}
.main .promo {
    background: powderblue none repeat scroll 0 0;
}
.main .promo h3 {
    color: #fff;
    display: inline-block;
    font-family: BrandonGrotesqueLightRegular,Helvetica,Arial,sans-serif;
    font-size: 2.8em;
    letter-spacing: 0;
    line-height: 36px;
    margin: 0;
    text-transform: none;
}
.main .promo p {
    color: #fff;
    display: inline-block;
    font-family: BrandonGrotesqueLightRegular,Helvetica,Arial,sans-serif;
    font-size: 2.8em;
    letter-spacing: 0;
    line-height: 36px;
    margin: 0 50px 0 0;
    text-transform: none;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
.main .promo p {
    margin: 0 0 30px;
}
}
@media only screen and (max-width: 767px) {
.main .promo p {
    margin: 0 0 30px;
}
}
.feature {
    background: #f1f1f1 none repeat scroll 0 0;
}
.feature h3 {
    color: #333;
    font-family: BrandonGrotesqueThinRegular,Helvetica,Arial,sans-serif;
    font-size: 14em;
    letter-spacing: -2px;
    line-height: 110%;
    padding: 120px 0 60px;
}
@media only screen and (min-width: 1200px) {
.feature h3 {
    font-size: 15em;
}
}
@media only screen and (max-width: 767px) {
.feature h3 {
    font-size: 5.2em;
    letter-spacing: -1px;
    line-height: 120%;
    padding: 100px 0 50px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.feature h3 {
    font-size: 8em;
    line-height: 110%;
}
}
.feature .slide-feature h3 {
    color: #fff;
    font-family: BrandonGrotesqueBoldRegular,Helvetica,Arial,sans-serif;
    font-size: 1.4em;
    letter-spacing: 4px;
    margin: 0 0 15px;
    padding: 0;
    text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
.feature .slide-feature h3 {
    font-size: 1.5em;
    margin: 0 0 20px;
}
}
@media only screen and (max-width: 767px) {
.feature .slide-feature h3 {
    font-size: 1em;
    margin: 0 0 10px;
}
}
.feature .slide-feature .detail {
    margin: 175px 0 0;
    text-align: center;
    width: 100%;
}
@media only screen and (min-width: 1200px) {
.feature .slide-feature .detail {
    margin: 230px 0 0;
}
}
@media only screen and (max-width: 767px) {
.feature .slide-feature .detail {
    margin: 120px 0 0;
}
}
.feature .slide-feature .button {
    padding: 15px 20px;
}
.feature .slide-feature .icon {
    border-radius: 50px;
    color: #fff;
    font-size: 5em;
    height: 41px;
    width: 41px;
}
@media only screen and (min-width: 1200px) {
.feature .slide-feature .icon {
    height: 51px;
    width: 51px;
}
}
@media only screen and (max-width: 767px) {
.feature .slide-feature .icon {
    font-size: 4.5em;
    height: 31px;
    width: 31px;
}
}
.feature .slide-feature .icon::after {
    line-height: 80%;
}
@media only screen and (min-width: 1200px) {
.feature .slide-feature .icon::after {
    line-height: 100%;
}
}
@media only screen and (max-width: 767px) {
.feature .slide-feature .icon::after {
    line-height: 65%;
}
}
.main .mini {
    display: block;
    overflow: hidden;
    position: relative;
}
.main .mini img {
    margin: 0 0 20px;
}
.main .mini h3 {
    font-size: 1.1em;
}
.main .mini h4 {
    font-size: 0.9em;
}
.main .cover {
    display: block;
    position: relative;
}
.main .cover .cover-box {
    background: #333 none repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 100%;
    left: 0;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 3;
}
.main .cover .cover-box .view {
    color: #fff;
    font-size: 10em;
    margin: 20% 0 0;
}
.photo-feature {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 720px;
    overflow: hidden;
    text-align: center;
}
@media only screen and (min-width: 1200px) {
.photo-feature {
    height: 945px;
}
}
@media only screen and (min-width: 1680px) {
.photo-feature {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat;
    background-size: auto auto;
    height: 945px;
}
}
@media only screen and (max-width: 767px) {
.photo-feature {
    height: 500px;
}
}
.rslides_container {
    float: left;
    position: relative;
    width: 100%;
}
.rslides {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.rslides li {
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.rslides li:first-child {
    display: block;
    float: left;
    position: relative;
}
.rslides img {
    border: 0 none;
    display: block;
    float: left;
    height: auto;
    width: 100%;
}
.rslides_nav {
    display: inline-block;
    font-size: 9em;
    height: 50px;
    left: 0;
    line-height: 0;
    margin: -35px 0 0;
    opacity: 0.5;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50%;
    transition: all 0.1s linear 0s;
    z-index: 3;
}
.rslides_nav:hover {
    opacity: 1;
}
.rslides_nav::after {
    color: #fff;
    display: inline-block;
    font-family: Entypo,EntypoSocial;
    line-height: 50%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.rslides_nav:active {
    opacity: 1;
}
.rslides_nav.next {
    left: auto;
    right: 0;
}
.rslides_nav.next::after {
    content: "";
    padding: 0 20px 0 60px;
}
.rslides_nav.prev::after {
    content: "";
    padding: 0 60px 0 20px;
}
.rslides_nav:focus {
    outline: medium none;
}
.rslides_tabs {
    margin: 10px 0 0;
    text-align: center;
}
.rslides_tabs li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}
.rslides_tabs a {
    border: 2px solid #aaa;
    border-radius: 50px;
    display: inline-block;
    height: 6px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 6px;
}
.rslides_tabs a:hover {
    background: #aaa none repeat scroll 0 0;
    border: 2px solid #aaa;
}
.rslides_here a {
    background: #aaa none repeat scroll 0 0;
    border: 2px solid #aaa;
}
.slide-feature {
    display: block;
    overflow: hidden;
    text-align: center;
}
.slide-feature li {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
}
@media only screen and (min-width: 1200px) {
.slide-feature li {
    height: 945px;
}
}
@media only screen and (min-width: 1680px) {
.slide-feature li {
    background-attachment: scroll;
    background-position: center top;
    background-repeat: repeat;
    background-size: auto auto;
    height: 945px;
}
}
@media only screen and (max-width: 767px) {
.slide-feature li {
    height: 500px;
}
}
.slide-feature .rslides_tabs {
    display: inline-block;
    margin: -30px 0 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
}
.slide-feature .rslides_tabs a {
    border: 2px solid #aaa;
}
.slide-gallery {
    display: block;
    overflow: hidden;
    text-align: center;
}
.slide-mini {
    display: block;
    margin: 0 0 60px;
    overflow: hidden;
}
.slide-mini:last-child {
    margin: 0;
}
.slide-mini h4 {
    font-family: AvenirNextRegular,Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 45px;
    letter-spacing: 0;
    line-height: 22px;
    text-transform: capitalize;
}
.slide-mini .rslides_nav {
    font-size: 4em;
    height: 25px;
    margin: 0;
    padding: 0;
    top: -25px;
}
.slide-mini .rslides_nav::after {
    color: #333;
}
.slide-mini .rslides_nav.next::after {
    content: "";
    padding: 0 0 0 10px;
}
.slide-mini .rslides_nav.prev {
    left: auto;
    right: 20px;
}
.slide-mini .rslides_nav.prev::after {
    content: "";
    padding: 0 10px 0 0;
}
.hide-text {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
.input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}
.tooltip {
    display: block;
    font-size: 11px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    transition: opacity 0.1s linear 0s;
    visibility: visible;
    z-index: 1030;
}
.tooltip.in {
    opacity: 1;
}
.tooltip.top {
    margin-top: -3px;
}
.tooltip.right {
    margin-left: 3px;
}
.tooltip.bottom {
    margin-top: 3px;
}
.tooltip.left {
    margin-left: -3px;
}
.tooltip-inner {
    background-color: #fff;
    color: #999;
    font-family: BrandonGrotesqueBoldRegular,Helvetica,Arial,sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 14px;
    max-width: 200px;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #fff;
    border-width: 5px 5px 0;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #fff;
    border-width: 5px 5px 5px 0;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #fff;
    border-width: 5px 0 5px 5px;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #fff;
    border-width: 0 5px 5px;
    left: 50%;
    margin-left: -5px;
    top: 0;
}

@media only screen and (max-width: 767px) {
#footer, #footer .right {
    text-align: center;
}
}
#footer .info {
    padding: 30px 0;
}
#footer .info .copyright {
    color: #999;
    font-size: 12px;
}
#footer .info .love {
    color: #999;
    font-family: BrandonGrotesqueBoldRegular,Helvetica,Arial,sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
#footer .love {
    margin: 0 0 30px;
}
}
#footer .info .heart::after {
    color: #ea9465;
    content: "♥";
    display: inline-block;
    font-family: Entypo,EntypoSocial;
    font-size: 2em;
    line-height: 0;
    margin: -4px 0 0;
    vertical-align: middle;
}
#footer .more {
    background: #f7f7f7 none repeat scroll 0 0;
    height: 70px;
}
#footer .more .logo {
    color: #666;
    display: inline-block;
    font-family: BrandonGrotesqueBoldRegular,Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 26px 0 0;
    text-transform: uppercase;
}
#footer .more .logo:hover {
    color: #333;
}
@media only screen and (min-width: 1200px) {
#footer .more .logo {
    font-size: 15px;
}
}
@media only screen and (max-width: 767px) {
#footer .more .logo {
    font-size: 14px;
}
}
#footer .more .menu-side {
    margin: 22px 0 0;
}
#header .logo {
    color: #444;
    display: inline-block;
    font-family: BrandonGrotesqueBoldRegular,Helvetica,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 26px 0 0;
    text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
#header .logo {
    font-size: 18px;
}
}
@media only screen and (max-width: 767px) {
#header .logo {
    font-size: 15px;
}
}
#header .light .logo {
    color: rgba(255, 255, 255, 1);
}
#header .light .logo:hover {
    color: rgba(255, 255, 255, 1);
}
#header .logo.active {
    color: rgba(255, 255, 255, 1);
}
#header .main-menu {
    height: 70px;
    padding: 10px 0 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}
#header .main-menu .menu-side {
    margin: 24px 0 0;
}
#header .main-menu .menu-side li a {
    font-family: BrandonGrotesqueRegularRg,Helvetica,Arial,sans-serif;
    font-size: 16px;
}
@media only screen and (min-width: 1200px) {
#header .main-menu .menu-side li a {
    font-size: 17px;
}
}
#header .main-menu .menu-side ul li a {
    font-family: BrandonGrotesqueRegularRg,Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 8px 10px;
}
#header .main-menu.light .menu-side li a {
    color: rgba(255, 255, 255, 0.8);
}
#header .main-menu.light .menu-side li a:hover {
    color: rgba(255, 255, 255, 1);
}
#header .main-menu.light .menu-side li.current-menu-item a, #header .main-menu.light .menu-side li.current-menu-parent a {
    color: rgba(255, 255, 255, 1);
}
#header .mobile-menu {
    background: #27221f none repeat scroll 0 0;
}
#header #mobile-menu li {
    display: block;
}
#header .mobile-menu .menu-down {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 80px 0 0;
    padding: 20px 0 30px;
}
#header .mobile-menu .menu-down li a {
    border: medium none;
    color: rgba(255, 255, 255, 0.5);
    font-family: BrandonGrotesqueBoldRegular,Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 12px 0;
    text-transform: uppercase;
}
#header .mobile-menu .menu-down li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: rgba(255, 255, 255, 1);
}
#header .mobile-menu .menu-down li.current-menu-item a, #header .mobile-menu .menu-down li.current-menu-parent a {
    color: rgba(255, 255, 255, 1);
}
#header .mobile-menu .menu-down ul {
    padding: 0;
}
#header .mobile-menu .menu-down ul li a {
    color: #777;
    font-family: BrandonGrotesqueRegularRg,Helvetica,Arial,sans-serif;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: none;
}
#header .spring {
    color: #999;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin: 17px 0 0;
    overflow: hidden;
    padding: 12px 10px;
}
#header .spring:hover {
    color: #444;
}
#header .light .spring {
    color: rgba(255, 255, 255, 0.8);
}
#header .light:hover .spring {
    color: rgba(255, 255, 255, 1);
}
#header .spring.active {
    color: rgba(255, 255, 255, 1);
}
#header .spring::after {
    content: "☰";
    display: inline-block;
    font-family: Entypo,EntypoSocial;
    font-size: 50px;
    line-height: 0;
    margin: -4px 0 0;
    vertical-align: middle;
}
#header .springBox {
    display: inline-block;
}
.menu-down ul {
    margin: 0;
    padding: 0;
}
.menu-down li {
    margin: 0;
    padding: 0;
}
.menu-down li a {
    border-top: 1px solid #555;
    display: block;
}
.menu-down li a:hover {
    background: #333 none repeat scroll 0 0;
    color: #fff;
}
.menu-down li.current-menu-item a, .menu-down li.current-menu-parent a {
    color: #fff;
}
.menu-down .plus ul li a {
    border-top: medium none;
}
.menu-down ul li a {
    display: block;
}
.menu-side {
    font-size: 0;
    position: relative;
    text-align: right;
    vertical-align: top;
    z-index: 500;
}
.menu-side li {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin: 0 20px;
    padding: 0;
    position: relative;
    text-align: left;
}
.menu-side li:last-child {
    margin: 0 0 0 20px;
}
.menu-side li a {
    color: #999;
    display: block;
}
.menu-side li.plus a::after {
    content: "";
    display: inline-block;
    font-family: Entypo,EntypoSocial;
    font-size: 1.6em;
    line-height: 0;
    margin: -4px 0 0 10px;
    opacity: 0.5;
    vertical-align: middle;
}
.menu-side li a:hover, .menu-side li:hover a {
    color: #333;
}
.menu-side li.current-menu-item a, .menu-side li.current-menu-parent a {
    color: #333;
}
.menu-side ul {
    background: rgba(0, 0, 0, 0) url("../images/icons/arrow-15.png") no-repeat scroll center 7px;
    display: none;
    left: 0;
    margin: 0;
    padding: 15px 0 0;
    position: absolute;
    right: auto;
    width: 120px;
    z-index: 1000;
}
.menu-side ul li {
    clear: left;
    font-size: 12px;
    left: auto;
    line-height: 20px;
    margin: 0;
    width: 100%;
}
.menu-side ul li:last-child {
    margin: 0;
}
.menu-side ul li a, .menu-side li.current-menu-parent li a, .menu-side li:hover ul li a {
    background: #fff none repeat scroll 0 0;
    border: 4px solid #fff;
    color: #999;
    padding: 5px 10px;
}
.menu-side .plus ul li a::after {
    display: none;
}
.menu-side ul li a:hover, .menu-side li.current-menu-parent ul li a:hover, .menu-side li:hover ul li a:hover {
    background: #efefef none repeat scroll 0 0;
    color: #666;
}
.menu-side li:last-child ul {
    left: auto;
    right: 0;
}
.menu-side li:hover ul {
    cursor: pointer;
    display: block;
}
.navigation {
    margin: 45% 0 0;
    position: absolute;
    right: 0;
    z-index: 1050;
}
.navigation .nav {
    margin: 0 30px 0 0;
}
.navigation .nav li {
    margin: 0 0 10px;
    padding: 0;
}
.navigation .nav li:last-child {
    margin: 0;
}
.navigation .nav li a {
    border: 2px solid #999;
    border-radius: 50px;
    display: block;
    height: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    width: 6px;
}
.navigation .nav li a:hover {
    background: #999 none repeat scroll 0 0;
}
.navigation .nav .active a {
    background: #999 none repeat scroll 0 0;
}
.pagination .arrow {
    font-family: BrandonGrotesqueRegularRg,Helvetica,Arial,sans-serif;
    font-size: 1.8em;
}
.pagination .arrow::after, .pagination .arrow::before {
    color: #666;
    font-size: 90px;
    opacity: 0.2;
    transition: all 0.1s linear 0s;
}
.pagination .arrow:hover::after, .pagination .arrow:hover::before {
    opacity: 1;
}
.pagination .next.arrow::after {
    content: "";
    padding: 0 0 0 20px;
}
.pagination .prev.arrow::before {
    content: "";
    padding: 0 20px 0 0;
}
.pagination .all.arrow::before {
    content: "⚏";
}
.stickit {
    position: fixed;
    top: 0;
}
.stickit-end {
    bottom: 40px;
    position: absolute;
}
#toTop {
    background: rgba(0, 0, 0, 0) url("../images/icons/top.png") no-repeat scroll left top;
    border: medium none;
    bottom: 10px;
    display: none;
    height: 51px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    text-indent: 100%;
    width: 51px;
}
#toTopHover {
    background: rgba(0, 0, 0, 0) url("../images/icons/top.png") no-repeat scroll left -51px;
    display: block;
    float: left;
    height: 51px;
    opacity: 0;
    overflow: hidden;
    width: 51px;
}
#toTop:active, #toTop:focus {
    outline: medium none;
}

@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
@media only screen and (max-width: 767px) {
.duo {
    margin: 0 28px 0 0;
    width: 136px;
}
.duo:nth-child(2n+2) {
    margin: 0;
}
.treo {
    margin: 0 27px 0 0;
    width: 82px;
}
.treo:nth-child(3n+3) {
    margin: 0;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.duo {
    margin: 0 28px 0 0;
    width: 214px;
}
.duo:nth-child(2n+2) {
    margin: 0;
}
.treo {
    margin: 0 27px 0 0;
    width: 134px;
}
.treo:nth-child(3n+3) {
    margin: 0;
}
}
@media not all {
}

The quick brown fox jumps over the lazy dog. 0123456789
The quick brown fox jumps over the lazy dog. 0123456789
The quick brown fox jumps over the lazy dog. 0123456789
The quick brown fox jumps over the lazy dog. 0123456789
The quick brown fox jumps over the lazy dog. 0123456789
@import "http://fonts.googleapis.com/css?family=Lato:100,300,400|Open+Sans:400,300";
@font-face {
    font-family: "AvenirNextRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../typo/AvenirNextLTW01-Regular.eot?#iefix") format("embedded-opentype"), url("../typo/AvenirNextLTW01-Regular.woff") format("woff"), url("../typo/AvenirNextLTW01-Regular.ttf") format("truetype"), url("../typo/AvenirNextLTW01-Regular.svg#AvenirNextRegular") format("svg");
}
@font-face {
    font-family: "BrandonGrotesqueThinRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../typo/brandon_thin-webfont.eot?#iefix") format("embedded-opentype"), url("../typo/brandon_thin-webfont.woff") format("woff"), url("../typo/brandon_thin-webfont.ttf") format("truetype"), url("../typo/brandon_thin-webfont.svg#BrandonGrotesqueThinRegular") format("svg");
}
@font-face {
    font-family: "BrandonGrotesqueLightRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../typo/brandon_light-webfont.eot?#iefix") format("embedded-opentype"), url("../typo/brandon_light-webfont.woff") format("woff"), url("../typo/brandon_light-webfont.ttf") format("truetype"), url("../typo/brandon_light-webfont.svg#BrandonGrotesqueLightRegular") format("svg");
}
@font-face {
    font-family: "BrandonGrotesqueRegularRg";
    font-style: normal;
    font-weight: normal;
    src: url("../typo/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../typo/brandon_reg-webfont.woff") format("woff"), url("../typo/brandon_reg-webfont.ttf") format("truetype"), url("../typo/brandon_reg-webfont.svg#BrandonGrotesqueRegularRg") format("svg");
}
@font-face {
    font-family: "BrandonGrotesqueBoldRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../typo/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("../typo/brandon_bld-webfont.woff") format("woff"), url("../typo/brandon_bld-webfont.ttf") format("truetype"), url("../typo/brandon_bld-webfont.svg#BrandonGrotesqueBoldRegular") format("svg");
}
@font-face {
    font-family: "Awetypo";
    font-style: normal;
    font-weight: normal;
    src: url("../typo/awetypo.eot?#iefix") format("embedded-opentype"), url("../typo/awetypo.woff") format("woff"), url("../typo/awetypo.ttf") format("truetype"), url("../typo/awetypo.svg#Awetypo") format("svg");
}
@font-face {
    font-family: "Entypo";
    font-style: normal;
    font-weight: normal;
    src: url("../typo/entypo.eot?#iefix") format("embedded-opentype"), url("../typo/entypo.woff") format("woff"), url("../typo/entypo.ttf") format("truetype"), url("../typo/entypo.svg#Entypo") format("svg");
}
@font-face {
    font-family: "EntypoSocial";
    font-style: normal;
    font-weight: normal;
    src: url("../typo/entypo-social.eot?#iefix") format("embedded-opentype"), url("../typo/entypo-social.woff") format("woff"), url("../typo/entypo-social.ttf") format("truetype"), url("../typo/entypo-social.svg#EntypoSocial") format("svg");
}

