
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
input, select, button, textarea {
    -moz-appearance: none;
    color: inherit;
    font: inherit;
}
.butt, .input {
    background-color: transparent;
    border-radius: 4px;
    margin: 0.375rem;
    padding: 0.75rem;
}
.butt:focus, .input:focus {
    outline: medium none;
}
.butt {
    border: 2px solid #f35626;
    color: #f35626;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.375;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.butt--primary {
    background-color: #f35626;
    color: #fff;
}
.input {
    border: 1px solid #c0c8c9;
    border-radius: 4px;
}
.input--dropdown {
    background-image: url("images/ddown.svg?3"), none;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1.5rem 1rem;
}
h1, .alpha {
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: -0.05em;
    line-height: 1;
    margin-bottom: 1.5rem;
}
h2, .beta {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.75rem;
}
@media (min-width: 650px) {
.mega {
    font-size: 6rem;
    line-height: 1;
}
}
.subhead, .meta {
    color: #7b8993;
}
.promo {
    text-align: center;
}
p, hr, form {
    margin-bottom: 1.5rem;
}
hr {
    background-color: #c0c8c9;
    border: medium none;
    height: 1px;
    margin-top: -1px;
}
a {
    color: inherit;
    text-decoration: underline;
}
a:hover {
    color: #f35626;
}
.wrap {
    margin: 0 auto;
    max-width: 38rem;
}
.island {
    padding: 1.5rem;
}
.isle {
    padding: 0.75rem;
}
.spit {
    padding: 0.375rem;
}
html {
    background-color: #fff;
    color: #3d464d;
    font: 100%/1.5 "Roboto",Verdana,sans-serif;
    text-align: center;
    width: 100%;
}
@media (min-width: 650px) {
html {
    height: 100%;
}
html::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle;
}
body {
    display: inline-block;
    max-width: 38rem;
    vertical-align: middle;
}
}
.site__header {
}
.site__title {
    color: #f35626;
}
.site__content {
}
.site__content form {
}